.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

/* stylelint-disable selector-list-comma-newline-after */
.blog-header {
  border-bottom: 3px solid #141416;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
   * Blog posts
   */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
   * Footer
   */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.rounded-2px {
  border-radius: 2px;
}

.link-secondary {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 1.7;
  color: #141416;
}

.button {
  display: inline-flex;
  background: #33b249;
  color: #fff;
  padding: 3px 6px;
  border-radius: 24px;
  box-shadow: 0px 1px 0px 0px #dcdcdc;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  transition: 0.15s ease-in-out;
}

.button:hover {
  opacity: 0.9;
  color: #fff;
}

.shap-one {
  border: 1px solid #33b249;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
}

.button-text {
  line-height: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.button-text-2 {
  line-height: 18px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}

.fs-12 {
  font-size: 10px;
  /* margin-top: 1px; */
}

.btn-yellow {
  background: #ffd814;
  color: #0f1111;
}

.btn-yellow:hover {
  color: #0f1111;
}

.btn-yellow.shap-one {
  border-color: #fcd200;
}

.fa-cart-plus {
  font-size: 16px;
}

.shap {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.shap-container {
  width: fit-content;
  position: relative;
  overflow: hidden;
}

.shap-container:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

.shap svg {
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.bi-cart-check-fill {
  font-size: 17px;
}

.fw-500 {
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
    line-height: 2;
  }

  .button-text-2 {
    line-height: initial;
  }

  .text-arabic {
    line-height: 10px;
    height: 5px;
  }
}

.new-button svg {
  display: none;
}

.new-button {
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 24px;
  /* padding: 3px 6px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  color: white; */
  padding-top: 3px;
  padding-bottom: 3px;
}

.new-button-after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #33b249;
  transform: translate(100%);
  border-radius: 24px;
  z-index: -1;
  transition: all 0.3s ease;
}

.text {
  line-height: 18px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}

.active {
  padding: 3px 7px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  color: white;
}

.active-two {
  box-shadow: 0px 1px 0px 0px #dcdcdc;
  padding: 3px 7px;
  color: #fff;
}
