body {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  direction: rtl;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.button-shape {
  transform: translate(150%);
}

.text-height {
  height: 16px;
  line-height: 16px;
}

.button-highlight:hover {
  color: white;
}

.fa-chevron-right,
.fa-chevron-left {
  margin-top: 0.5px;
}
