body {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  direction: rtl;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn-yellow:hover .button-text-2 {
  color: #0f1111;
}

.button-shape {
  transform: translate(120%);
}

.active-ar {
  border-radius: 24px;
  box-shadow: 0px 1px 0px 0px #dcdcdc;
  color: white;
  padding: 0px 8px;
  text-transform: capitalize;
  font-weight: 500;
}

.active-ar:hover {
  color: #fff;
}

.active-ar.yellow-btn {
  color: #141416;
}

@media screen and (max-width: 600px) {
  .active-ar {
    padding: 3px 8px;
  }

  .active-ar .text {
    line-height: 10px;
    height: 5px;
  }
}
