body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 1.7;
  color: #141416;
}

.link-secondary {
  text-decoration: none;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.blog-header {
  border-bottom: 3px solid #141416;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

.fw-500 {
  font-weight: 500;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
  margin-top: 4rem;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.rounded-2px {
  border-radius: 2px;
}

.yellow {
  background-color: #ffd814 !important;
}

.dark-yellow {
  background-color: #f1cb0c !important;
}

.bg-green {
  background-color: #259438 !important;
}

.text-black {
  color: #000 !important;
}

.cursor-pointer {
  cursor: pointer;
}

/* Amazon Button */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: initial;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button-shape {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background-color: #33b249;
  transform: translate(-150%);
  transition: all 0.5s ease;
  z-index: -1;
}

.button-highlight {
  border-radius: 24px;
  box-shadow: 0px 1px 0px 0px #dcdcdc;
  color: #fff;
  padding: 3px 8px;
  line-height: initial;
  text-transform: capitalize;
  opacity: 1;
  transition: all 0.3s ease;
}

.button-highlight:hover {
  opacity: 0.85;
}

.buy-text,
.button svg,
.bi-caret-right-fill,
.bi-caret-left-fill,
.fa-plus,
.fa-chevron-right,
.fa-chevron-left {
  display: none;
}

.fa-chevron-right,
.fa-chevron-left {
  font-size: 13px;
  margin-top: 2.5px;
}

.flex-gap {
  column-gap: 4px;
}

.bi-caret-right-fill,
.bi-caret-left-fill,
.fa-plus {
  padding: 4.5px 4px;
}

.svg-size {
  width: 18px;
  height: 18px;
}

.slide-box {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #fff;
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2),
    5px 0 5px -5px rgba(0, 0, 0, 0.2), -5px 0 5px -5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 10000;
  transition: height 0.3s ease-in-out;
}

.slide-box .card-img-top {
  width: 250px;
}

.slide-box .card-img-top img {
  object-fit: cover;
}

.buttons-price {
  gap: 16px;
}

.btn-price {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  border-radius: 100px;
  color: #0f1111;
  min-width: 204px;
}

.btn-price.btn-primary {
  background: #0d6efd;
  border-color: #0d6efd;
}

.btn-price.btn-warning {
  background: #ffd814;
  border-color: #fcd200;
}

.fs-16 {
  font-size: 16px;
}

.p-20 {
  padding: 20px;
}

.modal-backdrop {
  display: none;
}

.slide-chevron-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -9px;
  font-size: 30px;
  color: #777;
  cursor: ns-resize;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}

/* Mobile */
@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
    line-height: 2;
  }

  .svg-size {
    width: 16px;
    height: 16px;
  }

  .slide-box {
    /* border-top-left-radius: 0;
    border-top-right-radius: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons-price .btn-price {
    width: 100%;
  }
}
